services:
  dope:
    build:
      args:
        VARIANT: 3.13-bookworm
      context: ..
      dockerfile: .devcontainer/Dockerfile
    command: sleep infinity
    user: vscode
    volumes:
      - ../:/workspace:cached
      - dope_extensions:/home/vscode/.vscode-server/extensions
      - dope_commandhistory:/home/vscode/commandhistory
      - dope_cache:/home/vscode/.cache
      - /workspace/.venv
version: "3.8"
volumes:
  dope_cache: null
  dope_commandhistory: null
  dope_extensions: null
